.eslintignore
.eslintrc.js
.gitignore
.github
.babelrc

packages/
example/
node_modules/
lib/

package-lock.json
test_packages/

# Editor directories and files
.project
.idea
.vscode
.hbuilderx
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
